Source: ivozprovider-rtpengine
Section: net
Priority: extra
Maintainer: Irontec IvozProvider Team <ivozprovider@irontec.com>
Build-Depends: debhelper (>= 5),
               quilt,
               dh-systemd,
               dh-exec,
               iptables-dev (>= 1.4),
               libcurl4-openssl-dev | libcurl4-gnutls-dev | libcurl3-openssl-dev | libcurl3-gnutls-dev,
               libevent-dev (>= 2.0),
               libglib2.0-dev (>= 2.30),
               libhiredis-dev,
               libpcap-dev,
               libjson-glib-dev,
               libpcre3-dev,
               libavutil-dev,
               libavresample-dev,
               libavformat-dev,
               libavfilter-dev,
               libssl-dev (>= 1.0.1),
               libxmlrpc-c3-dev (>= 1.16.07) | libxmlrpc-core-c3-dev (>= 1.16.07),
               libxtables-dev,
               libbcg729-dev,
               markdown,
               zlib1g-dev
Standards-Version: 3.9.7
Homepage: http://sipwise.com/

Package: ivozprovider-rtpengine
Architecture: any
Pre-Depends: ${misc:Depends}, ${shlibs:Depends}, dkms (>= 1.95), linux-headers-4.9.0-8-all
Conflicts: ngcp-mediaproxy-ng-daemon, ngcp-rtpengine-redis1, ivozprovider-rtpproxy
Replaces: ngcp-mediaproxy-ng-daemon, ngcp-rtpengine-redis1
Description: IVOZ Provider - Proxy for RTP and media streams used in NGCP, userspace part.
 This daemon handles the first stages of proxying media streams and talks to
 the kernel part of the proxy for eventual high-performance packet forwarding.
 .
 This package is based on templates from Sipwise ngcp-rtpengine, merging all the
 packages into a single one and adding systemd unit files. 
 .
 Default configuration is designed to work with the rest of the components of
 ivozprovider.
 .

