[Unit]
Description=RTPEngine Mediaproxy
After=network.target netfilter-persistent.service

[Service]
Type=forking
EnvironmentFile=/etc/default/rtpengine
PIDFile=/var/run/rtpengine.pid
ExecStart=/usr/sbin/rtpengine --table=0 --interface=${AUDIO_SOCK} --listen-ng=${CONTROL_SOCK} --listen-cli=127.0.0.1:9900 --xmlrpc-format=1 --b2b-url=http://users.ivozprovider.local:8000/RPC2 --tos=184 --pidfile=/var/run/rtpengine.pid --no-fallback --sip-source --recording-dir=${RECORDINGS_SPOOL} --recording-method=proc $EXTRA_OPTS
ExecStartPre=-/sbin/iptables -D INPUT -p udp -j RTPENGINE --id 0
ExecStartPost=/sbin/iptables -I INPUT -p udp -j RTPENGINE --id 0
ExecStopPost=-/sbin/iptables -D INPUT -p udp -j RTPENGINE --id 0
ExecStopPost=/bin/bash -c "/bin/echo del 0 > /proc/rtpengine/control"
Restart=always

[Install]
WantedBy=multi-user.target
