#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1
export XTABLES_LIBDIR := $(shell pkg-config --variable=xtlibdir xtables)

override_dh_auto_test:

override_dh_systemd_enable:
	dh_systemd_enable --name rtpengine
	dh_systemd_enable --name rtpengine-recording

override_dh_systemd_start:
	dh_systemd_start --name rtpengine --no-restart-on-upgrade
	dh_systemd_start --name rtpengine-recording --no-restart-on-upgrade

override_dh_installinit:
	dh_installinit --name rtpengine --noscripts --no-restart-on-upgrade --no-start
	dh_installinit --name rtpengine-recording --noscripts --no-restart-on-upgrade --no-start

override_dh_auto_build:

override_dh_install:
	${MAKE} -C iptables-extension
	${MAKE} -C recording-daemon
	${MAKE} -C daemon
	dh_install

%:
	dh $@ --with systemd --with quilt
